.logo{
    display: inline;
    width: 260px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ADE8F4;
}
.coluna{
    float:left;
    width: 49.3%;
    padding: 5px;
}
.fileira::after {
    content: "";
    clear: both;
    display: table;
  }
.redes{
    width: 50px;
}
.texto-redes{
    margin-left: 7px; 
    padding-top: 5px;
}
footer{
    background-color: #ADE8F4;
    position: static;
    bottom: 0;
    right: 0;
    left: 0;
}
.rodape{
    display: block;
}
*{
    margin: 0;
    padding: 0;
}
