.logo{
    display: inline;
    width: 260px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #ADE8F4;
}
.coluna{
    float:left;
    width: 49.3%;
    padding: 5px;
}
.fileira::after {
    content: "";
    clear: both;
    display: table;
  }
.redes{
    width: 50px;
    margin-left: 8px;
    margin-top: -10px;
    margin-bottom: 2px;
}
.texto-redes{
    margin-left: 7px; 
    padding-top: 5px;
}
footer{
    background-color: #ADE8F4;
}
.rodape{
    display: block;
}
